/* DO NOT CHANGE */
.solar-system {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.orbit {
  border: 1px dashed #666;
}
#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}
.orbit,
.orbit + div div {
  border-radius: 50%;
}
#sun,
.orbit,
.orbit + div {
  top: 50%;
  left: 50%;
}
.orbit + div > div {
  top: 0;
  left: 50%;
}
@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}
